# ------------------------------
# Python
# ------------------------------
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/
pipenv/

# Jupyter Notebook
.ipynb_checkpoints/

# models
models/
*.pt
*.pth
*.bin
*.h5


# ------------------------------
# logs
# ------------------------------
wandb/
*.log
*.sqlite
*.sql
*.dump
*.prof
*.png